SolutionsLab2/LetsGoBikingSelfHosted/Connected Services/Generic/ProxyCache1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GenericProxyCache" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GenericProxyCache" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JCDecauxItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCDecauxItem" nillable="true" type="tns:JCDecauxItem" />
</xs:schema>