SolutionsLab2/RestClient/Connected Services/Proxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProxyCache" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProxyCache_Request_InputMessage">
    <wsdl:part name="parameters" element="tns:Request" />
  </wsdl:message>
  <wsdl:message name="IProxyCache_Request_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyCache_getContractsList_InputMessage">
    <wsdl:part name="parameters" element="tns:getContractsList" />
  </wsdl:message>
  <wsdl:message name="IProxyCache_getContractsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getContractsListResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyCache_getStationsList_InputMessage">
    <wsdl:part name="parameters" element="tns:getStationsList" />
  </wsdl:message>
  <wsdl:message name="IProxyCache_getStationsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStationsListResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyCache_getStationsListWithContractName_InputMessage">
    <wsdl:part name="parameters" element="tns:getStationsListWithContractName" />
  </wsdl:message>
  <wsdl:message name="IProxyCache_getStationsListWithContractName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStationsListWithContractNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IProxyCache">
    <wsdl:operation name="Request">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyCache/Request" message="tns:IProxyCache_Request_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyCache/RequestResponse" message="tns:IProxyCache_Request_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getContractsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyCache/getContractsList" message="tns:IProxyCache_getContractsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyCache/getContractsListResponse" message="tns:IProxyCache_getContractsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStationsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyCache/getStationsList" message="tns:IProxyCache_getStationsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyCache/getStationsListResponse" message="tns:IProxyCache_getStationsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStationsListWithContractName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyCache/getStationsListWithContractName" message="tns:IProxyCache_getStationsListWithContractName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyCache/getStationsListWithContractNameResponse" message="tns:IProxyCache_getStationsListWithContractName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProxyCache" type="tns:IProxyCache">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Request">
      <soap:operation soapAction="http://tempuri.org/IProxyCache/Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContractsList">
      <soap:operation soapAction="http://tempuri.org/IProxyCache/getContractsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationsList">
      <soap:operation soapAction="http://tempuri.org/IProxyCache/getStationsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationsListWithContractName">
      <soap:operation soapAction="http://tempuri.org/IProxyCache/getStationsListWithContractName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProxyCache">
    <wsdl:port name="BasicHttpBinding_IProxyCache" binding="tns:BasicHttpBinding_IProxyCache">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ProxyCache/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>